{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="d-flex flex-column" style="min-height: 80vh;">
    <!-- Content Wrapper to hold the card -->
    <div class="d-flex justify-content-center align-items-center flex-grow-1 mt-5">
        <div class="col-xxl-12 col-lg-6 col-md-8">
            <div class="card shadow-0 mb-5">
                <div class="card-body p-4">
                    <ul class="nav nav-pills nav-justified mb-3">
                        
                    <div class="nav-item" role="presentation">
                 
<h2 class="logo-font mb-4">{% trans "Sign Out" %}</h2>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
  <button class="btn btn-primary " type="submit">{% trans 'Sign Out' %}</button>
</form>


  <div class="tab-content">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer stays at the bottom -->
    <footer class="mt-auto">
        <!-- Your footer content here -->
    </footer>
</div>

{% endblock %}