{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
<div id="carouselExampleCaptions" class="carousel slide section-spacing" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/sellwithus.png' %}" class="d-block w-100 custom-img" alt="sell_clothes"/>
      <div style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-sm-block mb-5">
      <p>
              

              <a target="_blank" href="{% url 'sell' %}" class="btn btn-outline-black fw-bold custom-button">Sell with Us
                <i class="fas fa-graduation-cap ms-2"></i>
              </a>
      </div>
    </div>
</section>

<section>

  <div id="carouselExampleCaptions" class="carousel slide section-spacing" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/shop.png' %}" class="d-block w-100 custom-img" alt="Wild Landscape"/>
      <div style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-sm-block mb-5">
             

            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
      </div>
    </div>
</section>

<section>

  <div id="carouselExampleCaptions" class="carousel slide section-spacing" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/secondhandeffect.png' %}" class="d-block w-100 custom-img" alt="Empty Landscape"/>
      <div style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-sm-block mb-5">
            
           <a href="{% url 'sustainable' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Second Hand Effect</a>
      </div>
    </div>
</section>

{% endblock %}