{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
<h1 class="text-center">Luxury Second-Hand Fashion for a Sustainable Future at Sustainluxe</h1>
  <div id="carouselExampleCaptions" class="carousel slide section-spacing" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'media/sellsecondhand.png' %}" class="d-block w-100 custom-img" alt="sell_clothes">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <div style="background-color: rgba(0, 0, 0, 0.4); padding: 20px;">
            <p class="relax-text" style="font-size: 2rem; margin-bottom: 20px;">Relax, we do the job!</p>
            <a href="{% url 'sell' %}" class="shop-now-button btn btn-lg btn-light rounded-0 text-uppercase py-3">Sell with Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="carouselExampleCaptions2" class="carousel slide section-spacing" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'media/shop.png' %}" class="d-block w-100 custom-img" alt="Wild Landscape">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <div style="background-color: rgba(0, 0, 0, 0.4); padding: 20px;">
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg btn-light rounded-0 text-uppercase py-3">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="carouselExampleCaptions3" class="carousel slide section-spacing" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'media/secondhandeffect.png' %}" class="d-block w-100 custom-img" alt="Empty Landscape">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <div style="background-color: rgba(0, 0, 0, 0.4); padding: 20px;">
            <a href="{% url 'sustainable' %}" class="shop-now-button btn btn-lg btn-light rounded-0 text-uppercase py-3">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}