{% extends "base.html" %}
{% load static %}

   {% block content %}
<div class="container mt-5">
    <h1 class="text-center">Sell Your Designer Clothes at SustainLuxe</h1>
    <br><br>
    <div class="row mt-4">
        {% for card in cards %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ card.image_url }}" class="card-img-top" alt="{{ card.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">
                            {{ card.description }}
                            <a href="#" data-mdb-toggle="modal" data-mdb-target="#modal{{ forloop.counter }}" class="text-info ms-2">
                                <i class="fa fa-info-circle" style="color:#4caf50"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalLabel{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel{{ forloop.counter }}">{{ card.title }}</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ card.long_description|linebreaks }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
