{% extends "base.html" %}
{% load static %}

 {% block extra_css %}
<style>
   /* Carousel styling */
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 100vh;
    }

    .carousel-item:nth-child(1) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(2) {
      background-image: url('https://sustainluxe.s3.eu-north-1.amazonaws.com/media/sustainable3.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(3) {
      background-image: url("https://sustainluxe.s3.eu-north-1.amazonaws.com/media/responsibility.png"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
</style>
{% endblock %}

{% block content %}

<main class="mt-5">
  <div class="container-fluid">
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" >

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#introCarousel" data-mdb-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#introCarousel" data-mdb-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- First Carousel Item -->
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1>SHE Second Hand Effect</h1>
              </div>
            </div>
          </div>
        </div>

        <!-- Second Carousel Item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
            
              </div>
            </div>
          </div>
        </div>

        <!-- Third Carousel Item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>What is our responsibility?</h2>
              
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-mdb-target="#introCarousel" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-mdb-target="#introCarousel" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<!-- Text box below carousel -->
  <div class="col-12 mt-4">
     <div class="card">
      <div class="card-body">
        <h2 id="slideTitle">SHE Second Hand Effect</h2>
        <h3 id="slideSubtitle" class="card-subtitle mb-2 text-muted">Definition of Carbon Savings</h3>
        <div id="slideContent">
           <p>By "carbon savings," we refer to the amount of greenhouse gases, measured in carbon dioxide equivalents (CO₂e) in kilograms,
              required to produce a similar new item. By choosing second-hand products, you can make a positive impact by reducing the emissions
              associated with manufacturing new items.
                <h3>Assumptions Used in Our Carbon Savings Calculation</h3>
              <p>
                To estimate carbon savings, we have made a few assumptions based on various sources. We collect data on the materials used in the clothing we handle.
                Based on this, we make assumptions about the material composition of each garment to calculate an average carbon savings figure per item.
              </p>
              <h3>Sources Used</h3>
              <ul>
                <li>The HIGG MSI, Materials Sustainability Index</li>
                <li>Charitable Reuse</li>
                <li>Textile Exchange</li>
              </ul>
              </p>
        </div>
      </div>
    </div>


{% block postloadjs %}
   {{ block.super }}
<script src="{% static 'js/sustainable.js' %}"></script>
{% endblock %}

{% endblock %}
