asgiref==3.8.1
dj-stripe==2.8.4
Django==4.2
django-allauth==65.0.2
django-cors-headers==4.4.0
django-countries==7.6.1
django-crispy-forms==2.3
django-filter==24.3
djangorestframework==3.15.2
pillow==10.4.0
pytz==2024.2
sqlparse==0.5.1
stripe==4.2.0
