{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block extra_navbar_content %}
<div class="row">
    <div class="col-md-6 d-flex justify-content-end align-items-center">
        <form class="d-none d-md-flex input-group w-75 my-auto me-4" method="GET" action="{% url 'all_products' %}">
            <input id="search" autocomplete="off" type="text" name="q" class="form-control rounded" placeholder="Search" style="width: 400px; font-size: 16px;">
            <span class="input-group-text border-0"><i class="fas fa-search" id="mdb-5-search-icon"></i></span>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="mb-0">Product Filter</h4>
                    <div class="p-3 bg-white border rounded shadow-sm">
                        <form id="filterForm" method="GET" action="{% url 'all_products' %}">
                            <button type="submit" class="btn btn-primary me-2">Filter</button>
                            <button type="button" class="btn btn-secondary" id="clearButton">Clear Filters</button>
                            <hr>
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                        {% for product in products %}
                            <div class="col">
                                <div class="card">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">Price: EUR{{ product.price }}</p>
                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No products found.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
