{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

<div class="container header-container">
    <!-- search field in navbar-->
{% block extra_navbar_content %}
<div class="row">
    <div class="col-md-6 d-flex justify-content-end align-items-center">
        <form class="d-none d-md-flex input-group w-75 my-auto me-4" method="GET" action="{% url 'all_products' %}">
            <input id="search" autocomplete="off" type="text" name="q" class="form-control rounded" placeholder="Search" style="width: 400px; font-size: 16px;">
            <span class="input-group-text border-0"><i class="fas fa-search" id="mdb-5-search-icon"></i></span>
        </form>
    </div>
</div>

 <!-- Cart icon -->
    <a class="nav-link me-3{% if grand_total %} font-weight-bold{% else %} text-black{% endif %}" href="{% url 'view_bag' %}">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <span class="ms-2">
            {% if grand_total %}
                EUR{{ grand_total|floatformat:2 }}
            {% else %}
                EUR 0.00
            {% endif %}
        </span>
    </a>
{% endblock %}

{% block content %}

<!-- Categories Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Categories:</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'all_products' %}"><strong>All</strong></a>
            </li>
            {% for main_category in main_categories %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'all_products' %}?categories={{ main_category.id }}">
                        <strong>{{ main_category.friendly_name|default:main_category.name }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Sorting products -->
        <div class="d-flex align-items-center">
            <select id="sort-selector" class="form-select rounded-0 border">
                <option value="reset">Sort by...</option>
                <option value="price_asc">Price (low to high)</option>
                <option value="price_desc">Price (high to low)</option>
                <option value="name_asc">Name (A-Z)</option>
                <option value="name_desc">Name (Z-A)</option>
                <option value="condition_asc">Condition (New with Tags-Acceptable)</option>
                <option value="conditions_desc">Conditions (Acceptable-New with Tags)</option>
            </select>
        </div>
    </div>
</nav>

<!-- Filter section above product grid -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h4 class="mb-0  d-inline-block">Product Filter</h4>
                    <button class="btn btn-secondary btn-sm ms-3" id="toggle-filter-btn">Hide</button>
                </div>

                  <!-- Filter  -->
                <div id="filter-content" class="p-3 bg-white border rounded shadow-sm mb-3">
                    <form id="filterForm" method="GET" action="{% url 'all_products' %}">
                        <div class="row">
                            <!-- Subcategory Column -->
                            <div class="col-md-3 mb-3">
                                <h6>Subcategory</h6>
                                {% for subcategory in all_subcategories %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="categories" value="{{ subcategory.id }}" id="cat_{{ subcategory.id }}"
                                        {% if subcategory.id in selected_category %}checked{% endif %}>
                                        <label class="form-check-label" for="cat_{{ subcategory.id }}">
                                            {{ subcategory.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>

                             <div class="col-md-3 mb-3">
                                <h6>Brand</h6>
                                {% for field in form.brands %}
                                    <div class="form-check">{{ field }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-3 mb-3">
                                <h6>Size</h6>
                                {% for field in form.sizes %}
                                    <div class="form-check">{{ field }}</div>
                                {% endfor %}
                            </div>
                           
                            <div class="col-md-3 mb-3">
                                <h6>Condition</h6>
                                {% for field in form.conditions %}
                                    <div class="form-check">{{ field }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary me-2">Filter</button>
                        <button type="button" class="btn btn-secondary" id="clearButton">Clear Filters</button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Product grid -->
        <div class="row">
            <div class="col-12">
                <h1 class="logo-font text-center py-3">Products</h1>
                <div class="row">
                    {% for product in page_obj %}
                        {% if product.is_listed and not product.is_sold %}
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card h-100 border-0 shadow-sm">
                                    <a href="{% url 'product_detail' product.id %}">
                                        {% if product.image %}
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" style="max-height: 100%; object-fit: contain;">
                                        {% else %}
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" style="max-height: 100%; object-fit: contain;">
                                        {% endif %}
                                    </a>
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <p class="lead mb-0 fw-bold">EUR {{ product.price }}</p>
                                        <p class="card-text">
                                            {% if product.brand %}
                                                <span class="badge bg-secondary">{{ product.brand }}</span>
                                            {% endif %}
                                            {% if product.condition %}
                                                <span class="badge bg-info">{{ product.condition }}</span>
                                            {% endif %}
                                            <br>
                                            {% if request.user.is_superuser %}
                                                <small class="ms-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100 justify-content-end align-items-center" aria-label="Scroll to top">
        <i class="fa-solid fa-circle-chevron-up"></i>
    </a>
</div>

<!-- Pagination -->
<nav class="my-4">
    <ul class="pagination pagination-circle justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% block postloadjs %}
<script>
    // scroll to top

    $(document).ready(function () {
        $('.btt-link').click(function(e) {
            e.preventDefault();  
            window.scrollTo(0, 0);
        });

    // Hide Filter
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location.href);  

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });

    // Clear Filter
        $('#clearButton').click(function (e) {
            e.preventDefault(); 
            $('input[type="checkbox"]').prop('checked', false);
            $('#filterForm').submit();
        }); 

        const toggleBtn = $('#toggle-filter-btn');
        const filterContent = $('#filter-content');

        toggleBtn.click(function() {
            filterContent.toggleClass('hidden'); 

            if (filterContent.hasClass('hidden')) {
                toggleBtn.text('View'); 
            } else {
                toggleBtn.text('Hide'); 
            }
        });
    });
</script>
{% endblock %}
