.nav-item {
    margin-right: 5px; 
}
.container-fluid {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
 }

 .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}


body {
    background: url('../media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

footer,
.text-muted {
    background-color:#c0cdd4;   
    color: #565656 !important;
}
 
/* Font Playfair*/
.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-sc-regular-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-sc-black-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

.text-green {
    color: green; 
  }
.navbar {
     background-color:#c0cdd4;  
     margin-top: 20px;
}

/* Separator CSS */
.navbar-nav .nav-item {
    display: flex; 
    align-items: center; 
}
.navbar-nav .separator::after {
    content: "|"; 
    margin-right: 10px; 
    color: #000;
    font-weight: 300;
}

.carousel-caption {
    margin-bottom: 50px; 
}
.section-spacing {
    margin-bottom: 1rem; 
}

.carousel-control-next, .carousel-control-prev{ 
  bottom: 70px; 
}

.custom-img {
    max-width: 100%; 
    height: auto;
    padding: 3rem;
}

 .shop-now-button {
    color: #607D8B; 
    border: none; 
    transition: background-color 0.3s; 
    padding: 3rem; 
    font-size: 4rem; 
        }

.custom-btn {
    display: block; 
    max-width: 200px; 
    margin: 0 auto; 
}

.nav-link {
    text-decoration: none; 
}

.btt-button {
    background-color: #607D8B; 
    padding: 15px; 
    border-radius: 50%; 
    transition: background-color 0.3s; 
}

.btt-button:hover {
    background-color: #455A64; 
}

.btt-link i {
    font-size: 36px; 
    color: #fff; 
}

  #filter-content.hidden {
        display: none;
    }

/*  toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast btn-close {
    border: none;
    margin-left: auto;
    margin-right: 10px; 
    padding: 0; 
    font-size: 1.5rem; 
    background-color: transparent;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


@media (max-width: 842px) {
  .custom-img {
    height: auto; 
  }

  .carousel-caption {
    font-size: 0.9rem; 
    margin-bottom: 1rem;
  }

  .shop-now-button {
    font-size: 0.8rem; 
    padding: 0.5rem 1rem;
  }

  .relax-text {
    font-size: 1.2rem; 
  }
}
    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #introCarousel {
        margin-top: 2rem;
      }
    
    }

    /* mailchimp subscribe */
     #mc_embed_signup
        {background:#c0cdd4; 
        clear:left;
        font:14px Helvetica,Arial,sans-serif;
        width: 600px;}