.nav-item {
    margin-right: 5px; 
}
.container-fluid {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
 }

 .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}


body {
    background: url('../media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #a8a3a3;
    font-family: 'Lato';
}

footer,
.text-muted {
    background-color:#c0cdd4;   
    color: #565656 !important;
}

.navbar {
     background-color:#c0cdd4;  
     margin-top: 20px;

}

.carousel-caption {
    margin-bottom: 50px; 
}

.section-spacing {
    margin-bottom: 1rem; 
}

.custom-img {
    max-width: 100%; 
    height: auto;
    padding: 1rem;
}

.custom-btn {
    display: block; 
    max-width: 200px; 
    margin: 0 auto; 
}

.nav-link {
    text-decoration: none; 
}

/*  toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast .close {
    border: none;
    margin-left: auto;
    margin-right: 10px; 
    padding: 0; 
    font-size: 1.5rem; 
    background-color: transparent;

}
