.nav-item {
    margin-right: 5px; 
}
.container-fluid {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
 }

 .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}


body {
    background: url('../media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

footer,
.text-muted {
    background-color:#c0cdd4;   
    color: #565656 !important;
}

.navbar {
     background-color:#c0cdd4;  
     margin-top: 20px;
}

/* Separator CSS */
.navbar-nav .nav-item {
    display: flex; 
    align-items: center; 
}
.navbar-nav .separator::after {
    content: "|"; 
    margin-right: 10px; 
    color: #000;
    font-weight: 300;
}
 /* Carousel styling */
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 100vh;
    }

    .carousel-item:nth-child(1) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(2) {
      background-image: url('https://sustainluxe.s3.eu-north-1.amazonaws.com/media/sustainable3.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(3) {
      background-image: url("https://sustainluxe.s3.eu-north-1.amazonaws.com/media/responsibility.png"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #introCarousel {
        margin-top: 2rem;
      }
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 50vh;
      }
    }
    

.carousel-caption {
    margin-bottom: 50px; 
}
.section-spacing {
    margin-bottom: 1rem; 
}

.custom-img {
    max-width: 100%; 
    height: auto;
    padding: 3rem;
}

 .shop-now-button {
    color: #607D8B; 
    border: none; 
    transition: background-color 0.3s; 
    padding: 3rem; 
    font-size: 4rem; 
        }

.custom-btn {
    display: block; 
    max-width: 200px; 
    margin: 0 auto; 
}

.nav-link {
    text-decoration: none; 
}

.btt-button {
    background-color: #607D8B; 
    padding: 15px; 
    border-radius: 50%; 
    transition: background-color 0.3s; 
}

.btt-button:hover {
    background-color: #455A64; 
}

.btt-link i {
    font-size: 36px; 
    color: #fff; 
}

/*  toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast btn-close {
    border: none;
    margin-left: auto;
    margin-right: 10px; 
    padding: 0; 
    font-size: 1.5rem; 
    background-color: transparent;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}
