{% extends "account/base.html" %}
{% load static %}

{% block content %}

        <div class="col-xxl-5 col-lg-6 col-md-8">
            <div class="card shadow-0 mb-5">
                <div class="card-body p-4">
                    <ul class="nav nav-pills nav-justified mb-3">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active show" data-mdb-toggle="pill" href="{% url 'account_login' %}" role="tab" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-mdb-toggle="pill" href="{% url 'account_signup' %}" role="tab" aria-selected="false">Register</a>
                        </li>
             

                    <div class="tab-content">
                        <!-- Login Form -->
                    


            {% if request.user.is_authenticated %}
              <li>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Log In</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </li>
            {% else %}
            <li>
                    <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
                </li>
              
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}