{% load static %}



<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}      
    {% endblock %}

      {% block corejs %}
        <script src="https://kit.fontawesome.com/3090a0f319.js" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.umd.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"  integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    <title>SustainLuxe {% block extra_title %}{% endblock %}</title>
  </head>
  <body>   
     
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <header class="container"> 
        <div class="row align-items-center">
            <!-- Left part of navbar (brand and links) -->
            <div class="col-md-6 d-flex align-items-center"> 
                <!-- Toggle button -->
                <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'media/logo.png' %}" height="70" alt="SustainLuxe" loading="lazy" />
                </a>

                <!-- Collapsible wrapper (links) -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2"> 
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'sell' %}">Sell with us</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'products' %}">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
 </div>
            <!-- Right part of navbar (search and user icons) -->
            <div class="col-md-6 d-flex justify-content-end align-items-center"> <!-- Adjusted to col-md-6 -->
                <!-- Search bar -->
                <form class="d-none d-md-flex input-group w-75 my-auto me-4 method="GET" action="{% url 'all_products' %}"">
                    <input id="search" autocomplete="off" type="text" name="q" class="form-control rounded" placeholder="Search">
                    <span class="input-group-text border-0"><i class="fas fa-search" id="mdb-5-search-icon"></i></span>
                </form>
          
            
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                   <span class="navbar-text ml-auto logged-in">
                {% if user.is_authenticated %}
                Welcome {{ user }} <br>You are logged in
                {% else %}
                You are not logged in
                {% endif %}
            </span>
            </div>

  <!-- User dropdown -->
                    <div class="dropdown ms-3">
                            
                    <a id="navbarDropdownMenuAvatar" role="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'register' %}">
                       <i class="fa fa-user" aria-hidden="true" style="color: #000;"></i>
                        <!-- Dropdown for user actions -->
                        </a>
                       
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product'%}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'sale_product' %}" class="dropdown-item"> Sale Registration Form </a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
      

                <!-- Cart -->
                <a class="nav-link d-flex justify-content-center{% if grand_total %} text-info font-weight-bold{% else %} text-black{% endif %}" href={% url "view_bag" %}>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span class="ms-2">
                        {% if grand_total %}
                            EUR{{ grand_total|floatformat:2 }}
                        {% else %}
                            EUR 0.00
                        {% endif %}
                    </span>
                             </a>
        </header>
    </nav>
 
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
 
    {% endblock %}

    
    {% block content %}
    {% endblock %}

    

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
   <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="d-flex justify-content-center align-items-center mb-3">
      <span>Sign up for a newsletter</span>
       <form class="d-none d-md-flex input-group w-75 my-auto">
            <input id="mdb-5-search-input" autocomplete="off" type="search" class="form-control rounded" placeholder="Search">
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-flex justify-content-center">
      <a href="" class="me-5 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </section>

   <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          <i class="fa fa-cc-amex" aria-hidden="true"></i>
          </h6>
          </h6>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
       
          <p>
            <a href="#!" class="text-reset">ABOUT US</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a href="#!"  class="text-uppercase fw-bold mb-4">Customer Service</a>
          </p>
          <p><i class="fas fa-home me-3"></i> <br>Sundsvall, Sweden</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i><br> +46 70 175 35 85</p>
        
          <!-- Links -->
        </div>
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    SustainLuxe | Krokviken 133, 865 92 Sundsvall
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->


    {% if messages %}
    <h1>Messages</h1>
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toast_notification/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toast_notification/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toast_notification/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toast_notification/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
   


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    
  </body>
</html>