{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">


<h1>{{ account.user.username }}'s Account</h1>
<h2>Products for Sale</h2>
<ul>
 {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong> (SKU: {{ product.sku }})
            <p>Published on: {{ product.publication_date|date:"Y-m-d" }}</p>

            {% if time_left %}
           <p>Days left: {{ time_left.days }} days</p>
            {% else product.sold_at %}
                <p>This product has been sold</p>
                 {% endif %} 
        </li>
    {% empty %}
        <p>No products are on sale.</p>
    {% endfor %}
</ul>
        
{% endblock %}