{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container header-container mb-4">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="overlay"></div>
<div class="container mb-4"> 
    <div class="card text-center">
        <div class="card-header">Thank you for registering your product with us!</div>
        <div class="card-body">
            <p class="card-text mt-3">Dear {{ user.username }},
            <br> We are pleased to confirm that your registration has been successfully processed.
            <br>
            As part of the registration process, I will be sending you a bag along with the waybill for your convenience. 
            <br>
            Please keep an eye out for the shipment, which should arrive shortly.
            <br><br>
            If you have any questions or need further assistance, please feel free to reach out.

            Best regards,

            SustainLuxe
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'account_details' user.id %}">Back to account</a>
        </div>
    </div>
</div>


