{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">


<h1>{{ account.user.username }}'s Account</h1>
<h2>Withdrawal</h2>
<ul>
 {% for amount in total_revenue %}
        <li>
            <a href="#">Balance</a>
            <strong>{{ self.total_revenue }}</strong> 
          
</ul>
        
{% endblock %}